/* musicplayer.css */

.mainContainer {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 1280px;
    border-top: 1px solid grey;

  }
  
  .player {
    position: relative;
    right: 500px;
    margin: 20px 0;
    z-index: 1000;
  
    
  }
  
  .info {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #main-poster {
    border-radius: 5px;
  }
  
  #bt {
    margin-left: 10px;
    font-weight: bold;
  }
  
  #tit {
    margin-left: 10px;
  }
  
  .musicPlayer {
    margin-top: 20px;
    position: relative;
    bottom: 80px;
  }
  
  .musicPlayer ul {
    list-style: none;
    display: flex;
  }
  
  .musicPlayer li {
    cursor: pointer;
    margin: 0 10px;
  }
  
  /* Styling for the play button based on its state */
  #play {
    color: red; /* Default color */
    position: relative;
    right: 20px;
  }
  
  #play:hover {
    color: darkred; /* Color on hover */
  }
  
  /* Additional styling for next and previous buttons if needed */
  #next:hover,
  #prev:hover {
    color: blue;
  }
  .ul li{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  #next{
    position: relative;
    right: 40px;
  }
  .ul{
    display: flex;
    gap: 20px; /* Adjust the gap between items */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    justify-content: center;
  }