.raj{
   
    width: 1200px;
    margin: 30px;
}
.caro{
 position: relative;
 bottom: 40px;
 width: 100%;
 display: flex;
 gap: 2rem;
}
.slider-image{
    padding: 20px 0 20px 20px;
    margin: 20px 0 20px 20px;
}
/* Carousel.css */

  